/*General properties*/

*
{
    padding: 0%;
    margin: 0%;
    color: black;
}

body{
    background-color: #ffffff;
    
}
 
.general{
    display: inline-block;
    width: 100%;
}


#body{
   
   overflow-x: hidden;
   background-color:#ffffff;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

h1,h2,h3
{
    text-align: center;
    width: 100%;
    
}

button,select, .tags .tags-box select,
 input[type="text"],input::placeholder,
input[type="number"],
input[type="date"] 
{
    background-color: #0E6938;
    color: black;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
  }

button
{
    width: auto;
    border-radius: 7px;

}

.wrapper
{
    position: relative;
    margin: 10px;
    bottom: 0%;
    
}

.container {
    padding: 16px;
  }

  .animate {

    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
    
  }

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  /*short message*/
  .shortMessage
  {
      
      background: rgb(180, 206, 206);
      border-radius: 15px;
      width: 70%;
      margin: 20px auto 20px;
      justify-content: center;
      padding: 20px;
      
  }
.indexBody .shortMessage{
    margin: auto;
    height: auto;
}

.indexBody .modal-content{
    margin: auto;
    height: auto;
}


  

  .shortMessage h2
  {
      padding: 7px;
  }

  .indexBody{
      margin: auto;
      padding: 90px 30px 60px 0px;
  }

  @media(min-width:700px)
  {
     
      .indexBody
      {
        display: flex;
        
      }

      .shortMessage
      {
          width: 60%;
          margin: 10px;
          
      }

      #id01 {
        display: block;
        position: relative;
        width: 30%;
        margin: 10px;
        padding: auto;

      }

      #id01 .container
      {
          vertical-align: middle;
      }
  }

  /*Dashboard header*/

.dashBoardHead
{  
    position: sticky;
    top: 0%;
    z-index: 4;
    background-color: #0E6938;
    width: auto;
    padding: 2% 2% 2%;
    text-align: center;

}

.dashBoardHead h1,i
{
    display: inline-block;
    color: white;
}

.mobile-nav-toggle
{
    position: absolute;
    font-size: 28px; 
}


/*menu: settings and filters*/

#menu-content
{
    position: absolute;
    margin-top:0px;
    display: none;
    left: -200%;
    z-index: 2;
    overflow: auto;
}

.tags
{
    width: 300px;
    height: 100%;
    padding: 15px;
    background-color: #f7f5f5;
    margin: px;
    color: #000;
    
}

#menu-content input
{
    margin: 5px;
    color: white;
    font-size: 16px;
}

.tags .tags-box
{
    background: #e7e9e8;
    color: black;
    padding: 10px;
    margin: 5px;
}

.tags .tags-box h3
{
    margin: 7px;
}

.data
{
    overflow: auto;
    width: auto;
    margin: 0;
    height:90%;
}

.expopage{
    display: flex;
    padding: auto;
    position: relative;
    bottom: 5px;
}

#page{
    display: flex;
    width:auto;
    position: absolute;
    bottom: 5%;
    margin-left: auto;
}

#export{
    position: absolute;
    margin-left:50% ;
    bottom: 5%;
    width: 120px;
    
}

.tabledata{
    height: 80%;
    overflow: auto;
}

#resul{
    position: absolute;
    margin-left:85% ;
    bottom: 5%;
    width: 45px;
    padding: auto;
    
}
 table, #menu-content {
    font-size: 13px;
    border-collapse: collapse;
    width: 100%;       
}

.data table thead,.tsum
{
    position: sticky;
    color: black;
    background-color:#ffffff;
    z-index: 1;
    
}

.tsum
{

 padding-top: 5px;
 padding-bottom: 0%;
 text-align: center;
 bottom: 0px;
 position:absolute ;
 width: 100%;
 display: none;
 height: auto;
 box-sizing: border-box;
 

}

body .general .tsum{
    position: fixed;
    padding: px;
    height:px;
}

.tsum table {
    width: auto;
    padding: 23px;
    height: 30px;
    margin: auto;
}

.tsum table td{
    padding: 5px 12px;
}

.tsum #export{

    width: 200px;
    padding: 23px;
}



.tsum #export button{
    float: right;
}


.tsum tr
{
    color: white;
}

@media(max-width:550px){
    .tsum div{
        display: block;
    }
   
}
@media(max-width:665px){
    table{
        width: 665;
    }
}

.data table thead
{
    top: 0;
}


th,td {
    border: 1px solid rgb(99, 97, 97);
    padding: 3px;
    text-align: center;
    width: 50px;
}

td span
{
    
    color: rgb(225, 245, 46);
    cursor: pointer;
}

.data .identity1, .data .identity2, .identity01,.identity02
{
    position: sticky;
    background-color:#ffffff;
    color: black;

}

.identity01,.identity02
{
    background-color:#ffffff;
    color: black;
}

.identity1, .identity01
{
    left: 0px;
    position: sticky;
}

.data .identity2, .identity02
{
    display: none;
}

/*pagination*/
.pagination {
    display: inline-block;
    margin: auto;
  }

  .pagination li
  {
      list-style: none;
      display: inline-block;
  }
  
  .pagination a,a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination li.active a{
    background-color: #0E6938;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #65be8f;}

/* forms */

  .modal-content {
    display:none;
    text-align: center; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    min-width: 270px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    justify-content: center;
    
  }
  .modal-content form{
    padding-top: 15px;
}
  

  @media(max-width:958px){
    .modal-content form{
        padding-top: 38px;
    }
    @media(max-width:890px){
        .modal-content form{
            padding-top: 64px;
        }
      }
      @media(max-width:700px){
        .modal-content form{
            padding-top: 10px;
        }
      }
  }

  



  .cancelbtn {
    width: auto;
    background-color: #f44336;
    margin: 0px 0;
  }

 
@media (min-width:1000px){

    *{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .mobile-nav-toggle
    {
    display: none;
    }

    #menu-content
    {
    position: absolute;
    margin-top:0px;
    display: block;
    width: 300px;
    left: 0%;
    height:90%;
    overflow: auto;
    }

    body{
        height: 100%;
    }


    .data
    {
    width: auto;
    padding: 15px;
    margin-left: 290px;
    height: 60%;
    background-color: #ffffff;
    margin-right: 0px;
   }

   .tabledata{
       width: 100%;
       overflow: auto;
   }

    
    #page{
        display: flex;
        width:auto;
        position: absolute;
        bottom: 5%;
        margin-left: auto;
        padding-bottom: 8px;
    }

    #export{
        position: absolute;
        margin-left:50% ;
        bottom: 5%;
        width: 120px;
        padding-bottom: 7px;
        
    }

    #resul{
        padding-bottom: 7px;
    }

    .expopage{
        border-radius: 15px;
        top: 8px;
        width: 50%;
        margin-right: 8%;
        margin-left: auto;
        padding: 45px;
        position: relative;
        background-color: #ffffffff;
        padding-right: 34px;
    }

   body table{
    overflow: auto;
    width:100%;
   }

   .tags{
    width: 90.5%;
   }

   .tsum{
       width: 260px;
       z-index: 2;
       bottom: 100px;
       position: relative;
   }
    #tsum{
        display: none;
    }
   /* filter */

   


    .tags{
    width: auto;
    left: 0;
    height: auto;
    padding: 1px;
    background-color: #ffffff;
    margin: 10px;
    
    }

    #menu-content input{
    margin:5 px;
    }

    .tags .tags-box{
    background: rgb(208, 212, 212);
    color: black;
    padding: 10px;
    margin: 5px;
    }

    .tags .tags-box h3
    {
        margin: 7px;
    }

    .tsum{
        width:265px;
        height: 180px;
        
    }
    .tsum div{
        display: block;
    }

    .tsum table {
        width: auto;
        padding: 30px;
        height: 30px;
        margin: 10px;
    }
    .tsum #export{
        width: auto;
        margin-top: -25px;
        padding-top: 0;
    }

    .tsum table tbody tr td{
        padding: 5px 1px;
    }

    

}









