/*General properties*/

*
{
    padding: 0%;
    margin: 0%;
    color: black;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #ffffff;
    font-size: 26px;
    
}
 
.general{
    display: inline-block;
    width: 100%;
}


#body{
   
   overflow-x: hidden;
   background-color:#ffffff;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

h1,h2,h3
{
    text-align: center;
    width: 100%;
    font-size: 26px;
    
}

button,select, .tags .tags-box select,
 input[type="text"],input::placeholder,
input[type="number"],
input[type="date"] 
{
    background-color: #0E6938;
    color: black;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 26px;
  }


button
{
    width: auto;
    border-radius: 7px;
    font-size: 16px;

}

.wrapper
{
    position: relative;
    margin: 10px;
    bottom: 0%;
    
}

.container {
    padding: 16px;
  }

  .animate {

    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
    
  }

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  /*short message*/
  .shortMessage
  {
      
      background: rgb(180, 206, 206);
      border-radius: 15px;
      width: 70%;
      margin: 20px auto 20px;
      justify-content: center;
      padding: 20px;
      
  }
.indexBody .shortMessage{
    margin: auto;
    height: auto;
}

.indexBody .modal-content{
    margin: auto;
    height: auto;
}

  

  .shortMessage h2
  {
      padding: 7px;
  }

  .indexBody{
      margin: auto;
      padding: 90px 30px 60px 0px;
  }

  /* @media(min-width:700px)
  {
     
      .indexBody
      {
        display: flex;
        
      }

      .shortMessage
      {
          width: 60%;
          margin: 10px;
          
      }

      #id01 {
        display: block;
        position: relative;
        width: 30%;
        margin: 10px;
        padding: auto;

      }

      #id01 .container
      {
          vertical-align: middle;
      }
  } */

  /*Dashboard header*/

.dashBoardHead
{  
    position: sticky;
    top: 0%;
    z-index: 4;
    background-color: #0E6938;
    width: auto;
    padding: 2% 2% 2%;
    text-align: center;

}

.dashBoardHead h1,i
{
    display: inline-block;
    color: white;
}

.mobile-nav-toggle
{
    position: absolute;
    font-size: 28px; 
}


/*menu: settings and filters*/

#menu-content
{
    position: absolute;
    margin-top:0px;
    display: none;
    left: -200%;
    z-index: 2;
    overflow: auto;
}

#langue{
    font-size: 16px;
}

.tags
{
    width: 300px;
    height: 100%;
    padding: 15px;
    background-color: #f7f5f5;
    margin: px;
    color: #000;
    
}

#menu-content input
{
    margin: 5px;
    color: white;
    font-size: 16px;
}

.tags .tags-box
{
    background: #e7e9e8;
    color: black;
    padding: 10px;
    margin: 5px;
}

.tags .tags-box h3
{
    margin: 7px;
}

.data
{
    overflow: auto;
    width: auto;
    margin: 0;
    height:90%;
}

.expopage{
    display: flex;
    padding: auto;
    position: relative;
    bottom: 5px;
}

#page{
    display: flex;
    width:auto;
    position: absolute;
    bottom: 5%;
    margin-left: auto;
}

#export{
    position: absolute;
    margin-left:50% ;
    bottom: 5%;
    width: 120px;
    
}

.tabledata{
    height: 100%;
    overflow: auto;

}

#resul{
    position: absolute;
    margin-left:85% ;
    bottom: 5%;
    width: 45px;
    padding: auto;
    
}
 table, #menu-content {
    font-size: 13px;
    border-collapse: collapse;
    width: 100%;       
}


/* @media(max-width:665px){
    table{
        width: 665;
    }
} */

.data table thead
{
    top: 0;
}


th,td {
    border: 1px solid rgb(99, 97, 97);
    padding: 3px;
    text-align: center;
    width: 50px;
}

td span
{
    
    color: rgb(225, 245, 46);
    cursor: pointer;
}

.data .identity1, .identity01
{
    position: sticky;
    background-color:#ffffff;
    color: black;
    left: 0%;

}

.identity01,.identity02
{
    background-color:#ffffff;
    color: black;
}




/*pagination*/
.pagination {
    display: inline-block;
    margin: auto;
  }

  .pagination li
  {
      list-style: none;
      display: inline-block;
  }
  
  .pagination a,a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination li.active a{
    background-color: #0E6938;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #65be8f;}

/* forms */

  .modal-content {
    display:none;
    text-align: center; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    min-width: 270px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    justify-content: center;
    
  }
  .modal-content form{
    padding-top: 15px;
}
  
/* 
  @media(max-width:958px){
    .modal-content form{
        padding-top: 38px;
    }
    @media(max-width:890px){
        .modal-content form{
            padding-top: 64px;
        }
      }
      @media(max-width:700px){
        .modal-content form{
            padding-top: 10px;
        }
      }
  } */

  



  .cancelbtn {
    width: auto;
    background-color: #f44336;
    margin: 0px 0;
    font-size: 16px;
  }

 


@media (min-width:722px){

    *{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .table01{
        display: none;
    }
    .mobile-nav-toggle
    {
    display: none;
    }

    #menu-content
    {
    position: absolute;
    margin-top:0px;
    display: block;
    width: 300px;
    left: 0%;
    height:90%;
    overflow: auto;
    }

    body{
        height: 100%;
    }


    .data
    {
    width: auto;
    padding: 15px;
    margin-left: 290px;
    height: 70%;
    background-color: #ece9e9;
    margin-right: 0px;
   }

   .tabledata{
       width: 100%;
       overflow: auto;
   }

    .menu .expopage #page{
        width: auto;
        font-size: 16px;
    }
    .menu .expopage #page a{
        font-size: 18px;
        padding-left: 0;
    }
    .menu .expopage #export{
        float: right;
        margin-left:70%;
        width: auto;
    }
    .menu .expopage #export button{
        float: right;
        padding: 5px 5px;
        margin-left: 5px;
    }

    .menu .expopage #export label{
        font-size: 16px;
    }
    .expopage{
        border-radius: 15px;
        width: 50%;
        margin-right: 5%;
        margin-left:auto;
        margin-top: 45px;
        padding: 30px;
        position: relative;
    }

   body table{
    overflow: auto;
    width:100%;
   }

   body table thead{
       position: sticky;
       background-color: white;
   }

   .tags{
    width: 90.5%;
   }
    .tags{
    width: auto;
    left: 0;
    height: auto;
    padding: 1px;
    background-color: #ffffff;
    margin: 10px;
    
    }

    #menu-content input{
    margin:5 px;
    }

    .tags .tags-box{
    background: rgb(208, 212, 212);
    color: black;
    padding: 10px;
    margin: 5px;
    }

    .tags .tags-box h3
    {
        margin: 7px;
    }

    .search{
        display: none;
    }

}
/* ajout */

@media(max-width:720px){
    body{
    }
    
    .wrapper{
        padding: 5px;
    }

    #tags-box{
        display: none;
    }

    .data, .tabledata{
        display: none;
    }
    thead{
        display: none;
    }


    table tbody tr td{
        display: block;
        text-align: right;
        padding: 7px;
        padding-right: 25px;
        width: auto;

    }

    .expopage1{
        position: sticky;
        top: 100%;
        background-color: white;
    }

    tr:nth-child(odd) {
        background: rgb(217, 217, 235);
      }

    table td:before{
        content: attr(data-label);
        position:absolute;
        left: 5%;
        overflow: auto;

    }

    table tr #detail{
        text-align: left;
        padding-left: 5%;

    }
    .table01 tbody span{
        color: rgb(119, 48, 48);
    }

    /* menu filter */

    .menu{
        width: auto;
        display: flex;
        margin-bottom: 5px;
        border: 1px solid black;
        position:sticky;
        top: 17px;
        height: auto;
        background-color: rgba(152, 211, 174, 0.473);
        z-index: 3;
    
    }
    .menu .search div{
        padding: 5px;
        width: auto;
        display: flex;
    }
    .menu .expopage #page{
        width: auto;
        font-size: 16px;
    }
    .menu .expopage #page a{
        font-size: 13px;
        padding-left: 0;
    }
    .menu .expopage #export label{
        display: none;
    }
    .menu .expopage #export{
        float: right;
        margin-left:70%;
        width: auto;
        margin-bottom: -6px;
    }
    .menu .expopage #export button{
        color: rgb(238, 235, 235);
        float: right;
        padding: 5px 5px;
    }
    .menu .expopage{
        width:50%;
        display: flex;
        padding: 3px;
    }

    .menu .search div label{
        font-size: 16px;
        margin-left: 10px;
        color: rgb(5, 5, 5);
    }
    .menu div .fa{
        margin-left:-10px;
    }
    .menu div .custo{
        width: 50%;
        padding: -24px;
        font-size:16px ;
        border-radius: 10px;
        margin-right:-5px;
        margin-left: 5px;
    }

    input::placeholder{
        width: 100%;
        padding: 5px;
        font-size: 16px;
        background-color: white;
        color: rgb(139, 136, 136);
    }

    /* barre recherche */

     /* table en liste */
     #liste1, #liste2, #liste3, #liste4, #liste5{
        display:none;
    }
    
    #angle, #angle1,  #angle2,  #angle3,  #angle4{
        display: none;
    }
    
    #angle:checked ~  #liste1, #angle1:checked ~  #liste2, #angle2:checked ~  #liste3,
    #angle3:checked ~  #liste4,  #angle4:checked ~  #liste5 
    {
     display: block;
     
     transition: 0.4s;
    }

    /* style listes */

    /* customerName/ customerCode */

    .ul1{
        border-bottom: 1px solid rgb(209, 225, 226);;
        font-size: 20px;
        padding: 5px;
        margin-bottom: 5px;
        margin: 10px;
        margin-left: 12px;
        width: auto;
    }
    .ul1 i{
        float: right;
        margin-right: 3%;
        margin-bottom: 10px;
        position: relative;
        font-size: 26px;
    }
    .ul1 label i{
        font-weight: 5px;
        color: #000;
    }
    ul{
        list-style: none;
    }
    .ul1 div{
        color: black;
        background-color: rgb(231, 244, 245);
        width: 80%;
        margin-left: 15%;
        padding: 5px;
        border-radius: 5px;
    }

    /* sub file */

    .ul1 div .ul2{
        box-sizing: border-box;
    }
    .ul1 div .ul2 .dis{
        right: 10%;
        position:absolute;
    }
    .table01{
        display: none;
    }      
        

   
}







